<!DOCTYPE html>
<html>

<head>


</head>
<body>
<center>
  <form method="POST">
  
    <form>
      <h1>Machine Learning of Grade Prediction</h1>
<br><br>
    <table border="1" width="400">
    <tr>
      <td width="30%">Gender:</td><td><input type="number" name="Gender" min="0" max="1" width='500'></td>
    </tr>
    <tr>
      <td width="30%">ParentIncome</td><td><input type="number" name="ParentIncome" min="1" max="100000" size='50'></td> 
    </tr>
    <tr>  
      <td width="30%"> Your IQ</td><td><input type="number" name="IQ" min="1" max="200" size='50'></td>
    </tr>
    <tr>  
      <td width="30%"> Parent Encouragement</td><td><input type="number" name="ParentEncouragement" min="0" max="1" size='50'></td>
    </tr>
    <tr>  
    </tr>
    <td width="30%">Enter Your Information</td><td><input type="submit" type="Next"></td>
    </tr>
      <br>

    </form>

    <br><br>

  <table border="1" width="400">
<tr>
  <td width="30%"> Your Output</td><td><label>{{href2}}</label></td>
</tr>
 </table>
</center>

</body>
</html>


